
/*
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
  .container-contact100 {
    margin: 0;
    position: relative;
  }

  .contact100-map {
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    height: 750px;
    width: 50%;
  }

  .form-container {
    position: absolute;
    z-index: 2;
    right: 0;
    top: 0;
    height: 721px;
    width: 48%;

  }

  mat-form-field{
    padding-top: 30px;
  width: 600px;
  }

  textarea{
    height: 200px;
  }


}

/*
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {

  .container-contact100 {
    margin: 0;
    position: relative;
  }

  .contact100-map {
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    width: 60%;
    height: 750px;

  }

  mat-card.form-container{

    position: absolute;
    z-index: 2;
    right: 0;
    top: 0;
    height: 721px;
    width: 30%;

  }


}

@media (max-width: 1200px) {
  .contact100-map {
    width: 440px;
  }

}






/*------------------------------------------------------------------
[ Alert validate ]*/

.validate-input {
  position: relative;
}

.alert-validate::before {
  content: attr(data-validate);
  position: absolute;
  max-width: 70%;
  background-color: #fff;
  border: 1px solid #c80000;
  border-radius: 2px;
  padding: 4px 30px 4px 10px;
  bottom: calc((100% - 25px) / 2);
  -webkit-transform: translateY(50%);
  -moz-transform: translateY(50%);
  -ms-transform: translateY(50%);
  -o-transform: translateY(50%);
  transform: translateY(50%);
  right: 2px;
  pointer-events: none;
  font-family: Poppins-Medium, sans-serif;
  color: #c80000;
  font-size: 14px;
  line-height: 1.4;
  text-align: left;

  visibility: hidden;
  opacity: 0;

  -webkit-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  -moz-transition: opacity 0.4s;
  transition: opacity 0.4s;
}

.alert-validate::after {
  content: "\f06a";
  font-family: FontAwesome;
  display: block;
  position: absolute;
  color: #c80000;
  font-size: 18px;
  bottom: calc((100% - 25px) / 2);
  -webkit-transform: translateY(50%);
  -moz-transform: translateY(50%);
  -ms-transform: translateY(50%);
  -o-transform: translateY(50%);
  transform: translateY(50%);
  right: 8px;
}

.alert-validate:hover:before {
  visibility: visible;
  opacity: 1;
}

@media (max-width: 992px) {
  .alert-validate::before {
    visibility: visible;
    opacity: 1;
  }
}

.true-validate::after {
  content: "\f26b";
  font-family: Material-Design-Iconic-Font;
  font-size: 22px;
  color: #00ad5f;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: calc((100% - 25px) / 2);
  -webkit-transform: translateY(50%);
  -moz-transform: translateY(50%);
  -ms-transform: translateY(50%);
  -o-transform: translateY(50%);
  transform: translateY(50%);
  right: 5px;
}


/*==================================================================
[ Contact more ]*/

.contact100-more {
  font-family: Poppins-Medium;
  font-size: 16px;
  color: #fff;

  position: fixed;
  z-index: -1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 212px;
  height: 50px;
  border-radius: 25px;
  background-color: #39b54a;
  padding: 0 20px;

  top: 50%;
  left: calc((100% - 640px) / 2);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.contact100-more i {
  font-size: 20px;
  margin-right: 10px;
}



@media (max-width: 1200px) {
  .wrap-contact100 {
    width: 440px;
  }
}

@media (max-width: 768px) {
  .contact100-map {
    width: 100%;
    height: 200px;
  }

  button.mat-fab{
    position:absolute;
    left: 80%;
    bottom: 10%;
  }

  textarea{
    height: 60px;
  }

  .contact100-more {
    position: absolute;
    background-color: transparent;
    color: #39b54a;
    bottom: 0px;
    top: auto;
    left: 50%;
    z-index: 10;
  }

  mat-form-field{
    width: 275px;
  }

  mat-label{
    font-size:10pt;
  }

  input{
    height: 42px;
  }
  input:focus{
  /*
  background-color: yellow;
  */

  }


/*  mat-label{
    display: none;
  }*/



}

