@import "../../variable";
.docs-footer{
 position: absolute;
  width: 100%;
bottom: 0;
z-index: 1;
  background-color: $primaryColor;
}

.icon-container{
/*  margin-right: 2%;
  margin-top: 5%;*/
}
img{
  padding-left: 10px;
  padding-bottom: 15px;

}
h6{
  padding-left:30px;
  color: gray;
}
