<div>
  <div class="video-container">
  <mat-video width="100%" height="auto" class="video" src="assets/bifrost2020.mp4" title="Bifrost Fest 2020"
              [autoplay]="true" [muted]="true" [loop]="true" [preload]="true" [fullscreen]="true"
              [download]="false" color="accent" spinner="spin">
  </mat-video>
  </div>

  <div class="div-only-mobile">
    <mat-grid-list cols="3" rowHeight="52%" gutterSize="0">
      <mat-grid-tile
        *ngFor="let tile of tiles"
        [colspan]="tile.cols"
        [rowspan]="tile.rows"
        [style.background]="tile.color">
        <a *ngIf="(tile.text=='One' ||tile.text=='Four');else icon;" class="fast">
          <img [src]=tile.url height="200" alt="prova">
        </a>
        <ng-template #icon>
          <button *ngIf="(tile.text=='Two' ); else notMap;"
                  (click)=mapsSelector()
                  type="button"
                  aria-label="Mappa"
                  mat-icon-button>
            <mat-icon aria-label="Apri mappa">place</mat-icon>
          </button>
        </ng-template>
        <ng-template  #notMap>
          <button routerLink="/programm" type="button"
                  aria-label="Mappa"
                  mat-icon-button>
            <mat-icon aria-label="Apri mappa">insert_invitation</mat-icon>
          </button>
        </ng-template>
      </mat-grid-tile>
    </mat-grid-list>
    <mat-card class="partners" fxLayout="row" >
      <mat-card-title-group>
      <img mat-card-sm-image  >
      <img mat-card-sm-image src="../../assets/loghi/proloco_2.png"  alt="Proloco Barlassina" fxFlexAlign="center">
      <img mat-card-sm-image >
      </mat-card-title-group>
    </mat-card>
  </div>


</div>


