<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav mode="side" [(opened)]="opened" (opened)="events.push('open!')"
               (closed)="events.push('close!')"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">


    <mat-toolbar color="primary">
      <span>Bifrostfest</span>
      <!-- This fills the remaining space of the current row -->
      <span class="example-fill-remaining-space"></span>
    </mat-toolbar>
    <!--<mat-toolbar>Menu</mat-toolbar>-->
    <mat-nav-list>
      <a mat-list-item routerLink="/home"  (click)="sidenav.close()">Home</a>
      <a mat-list-item routerLink="/gallery"  (click)="sidenav.close()">Galleria</a>
      <a mat-list-item routerLink="/programm"  (click)="sidenav.close()">Programma</a>
      <a mat-list-item routerLink="/join"  (click)="sidenav.close()">Diventa volontario</a>
      <a mat-list-item routerLink="/partners"  (click)="sidenav.close()">Collegamenti</a>
      <a mat-list-item routerLink="/info"  (click)="sidenav.close()">Info</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="sidenav.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
    </mat-toolbar>
    <!-- Add Content Here -->
    <router-outlet></router-outlet>
    <app-footer></app-footer>
  </mat-sidenav-content>
</mat-sidenav-container>




